// letiables
$red: #B93848;
$purple: #3A3042;
$blue: #16A8C7;
$dark: #232621;
$light: #F1F1FF;
$fontColor: #333333;
$shadow: 1px 1px 3px $dark;

@mixin gamePiece($color, $factor) {
  width: 8vmin * $factor;
  height: 8vmin * $factor;
  background: {
    color: $color;
    size: 65%;
    repeat: no-repeat;
    position: center;
  }
  border-radius: 6vmin;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $fontColor;
  font-family: 'Lato', Calibri, sans-serif;
  font-size: 16px;
  background: {
    color: $purple;
  }

  a {
    text-decoration: none;
    color: $fontColor;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: {
      color: #333;
      image: linear-gradient(to right, $fontColor, #ccc);
    }
  }
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 0;
  &.center {
    justify-content: center;
  }
}

%info-styles {
  width: 80%;
  box-sizing: border-box;
  padding: 0.3rem 0.6rem;
  background-color: $light;
  color: $purple;
  border-radius: 3px;
  box-shadow: $shadow;
}

div.info {
  @extend %info-styles;
}

div.stats {
  @extend %info-styles;

  @mixin div-style($bgColor) {
    text-align: center;
    display: inline-block;
    background-color: $bgColor;
    box-sizing: border-box;
  }

  .wrapper {
    display: flex; /* for equal height columns */
  }

  #player1 {
    @include div-style($red);
    border-top-left-radius: 3px;
    color: $dark;
    flex-grow: 50;

    .capturedPiece {
      @include gamePiece($dark, 0.3);
      margin: 5px;
    }
  }

  #player2 {
    @include div-style($dark);
    border-top-right-radius: 3px;
    color: $red;
    flex-grow: 50;

    .capturedPiece {
      @include gamePiece($red, 0.3);
      margin: 5px;
    }
  }

  div.turn {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
    border-radius: 0 0 3px 3px;
  }

  span#winner {
    display: block;
    padding: 10px 0 0;
    text-align: center;
  }

  button#cleargame {
    display: block;
    border: 0;
    color: $light;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 10px;
    padding: 10px;
    background-color: $blue;
    box-shadow: $shadow;
    transition: background-color 0.15s linear;

    &:hover {
      background-color: darken($blue, 20%);
    }
  }
}

div#board {
  width: 80vmin;
  height: 80vmin;
  border-radius: 5px;
  box-shadow: $shadow;
  background-color: $red;
  overflow: hidden;
  position: relative;

  .tile {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    background-color: $dark;
    &.highlighted {
      background-color: $blue;
    }
  }

  .player1pieces {
    .piece {
      position: absolute;
      @include gamePiece(lighten($red, 30%), 1);
      margin-top: 1vmin;
      margin-left: 1vmin;
      cursor: pointer;
      border: 1vmin solid $red;

      &.selected {
        box-shadow: 0 0 10px 5px $blue;
      }
    }
  }

  .player2pieces {
    .piece {
      position: absolute;
      @include gamePiece($light, 1);
      margin-top: 1vmin;
      margin-left: 1vmin;
      cursor: pointer;
      border: 1vmin solid darken($light, 20%);

      &.selected {
        box-shadow: 0 0 10px 5px $blue;
      }
    }
  }
}

#profileInfo{
  display: flex;
  color:white;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0.5px solid white;
  }
}