<div class="row">
    <div class="stats">
        <h2>Game Statistics</h2>
        <div class="row center">
            <div id="player1">
                <h3>Player 1 (Top)</h3>
            </div>
            <div id="player2">
                <h3>Player 2 (Bottom)</h3>
            </div>
        </div>
        <div class="turn"></div>
        <span id="winner"></span>
        <button id="cleargame">Reset Game</button>
    </div>
    <div id="profileInfo">
    </div>
</div>
<div class="row center">
    <div id="board">
        <div class="tiles"></div>
        <div class="pieces">
            <div class="player1pieces"></div>
            <div class="player2pieces"></div>
        </div>
    </div>
</div>